In [ ]:
Q1

In [5]:
print('Fatima',1991)
print(type('fatima'))
print(type(1991))

Fatima 1991
<class 'str'>
<class 'int'>

Q2

In [6]:
print(444,end='')
print(222)

444222

Q3

In [7]:
x=int(input('enter a number'))
if (x % 3)==0:
    print(x,'is divisable by 3')
else: 
        print(x,'is divisable by 3')

enter a number16
16 is divisable by 3

Q4

In [15]:
a = int(input("Input first number: "))
b = int(input("Input second number: "))
c = int(input("Input third number: "))

x1=((-b+c**4) / (2*a)) - ((3*(a+b**2))/c)
x2=((a+b**3)**2/(c-a**2))

print (x1)
print (x2)

Input first number: 3
Input second number: 2
Input third number: 1
-21.166666666666668
-15.125

Q5

In [ ]:
a,b = input('Enter two numbers: ').split(' ')
a=int(a)
b=int(b)
print(max(a,b))

Q6

In [2]:
a,b,c = input('Enter three numbers: ').split(' ')
a=int(a)
b=int(b)
c=int(c)
print(max(a,b,c))

Enter three numbers: 2 3 5
5

Q7

In [4]:
a=input('enter a number')
b=input('enter a number')
a=int(a)
b=int(b)
if b==0 :
     print('b is zero')
else:
    print(a/b)

enter a number6
enter a number2
3.0

**Q8

In [12]:
DAYS_IN_WEEK = 7
  
# Function to find  
# year, week, days  
def find( number_of_days ): 
  

    year = int(number_of_days / 365) 
    week = int((number_of_days % 365) / 
                DAYS_IN_WEEK) 
    days = (number_of_days % 365) % DAYS_IN_WEEK 
      
    print("years = ",year, 
          "\nweeks = ",week, 
          "\ndays = ",days) 
      
# Driver Code 
number_of_days = 5000
find(number_of_days)

years =  13
weeks =  36
days =  3

Q9

In [13]:
celsius=int (input('enter temp in celsius'))
fahrenheit = (celsius * 1.8) + 32
print (fahrenheit)

enter temp in celsius36
96.8

#Q10 : not solved

In [12]:
x=float(input('enter num'))
y=float(input('ente num'))
z=float((x*2 - y*2)/(x-y))
print(z)

enter num2.4
ente num2.2
2.0

Q11

In [17]:
Qrange=int (input('inter the Q range'))
if Qrange >130:
    print('Very Superior')
if 129 > Qrange > 120:
    print('Superior')
if 119 > Qrange > 110:
    print('High Average')
if 109 > Qrange > 90:
    print( 'Average')
if 89 > Qrange > 80:
    print('low Average')
if 79 > Qrange > 70:
    print('Borderline')
if Qrange<69 :
    print('Extremly low')

inter the Q range50
Extremly low

Q12

In [18]:
StudentMark=int(input('enter the student mark'))

if 100 > StudentMark >= 90:
    print('A')
if 90 > StudentMark >= 80:
    print(' B')
if 80 > StudentMark >= 70:
    print( 'C')
if 70 > StudentMark >= 60:
    print('D')
if 60 > StudentMark >= 50:
    print('E')

enter the student mark70
C

Q14

In [5]:
l = input("Input a letter of the alphabet: ")

if l in ('a', 'e', 'i', 'o', 'u','A','E','I','O','U'):
    print(l," is a vowel.")

else:
    print(l," is a consonant.")

Input a letter of the alphabet: e
e  is a vowel.

Q15

In [31]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print(num," is Even")
else:
   print(num," is Odd")

Enter a number: 8
8  is Even

**Q16

In [33]:
import datetime
now = datetime.datetime.now()
print("Current date and time: ")
print(str(now))

Current date and time:
2019-10-10 11:28:30.858664

Q17

In [35]:
r=int(input('enter the radius'))
x=r*r*3.14
print(x,'is the circle area')

enter the radius2
12.56 is the circle area

Q18

In [3]:
x=input('enter your name')
print(x[-1::-1])

enter your namefatima shah
hahs amitaf

**Q19

In [38]:
d=int( input('the day'))
m=int (input('input the month'))
y=int (input('enter the year'))
print('the examinatin will start in', d,'/',m,'/',y)

the day6
input the month7
enter the year2020
the examinatin will start in 6 / 7 / 2020

Q20

In [42]:
x=int(input('enter a number'))
z=x+(x*x)+(x*x*x)
print(z)

enter a number5
155

Q21

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Q22

In [8]:
'''
a string that you ”don’t” have to escape
This
is a ....... multi-line
heredoc string ——–> example
'''

'\na string that you ”don’t” have to escape\nThis\nis a ....... multi-line\nheredoc string ——–> example\n'

**Q23

In [17]:
from datetime import date
day1= date(2014, 7, 2)
day2 = date(2014, 7, 11)
num = day2 - day1
print(num.days)

9

Q24

In [19]:
r=int(input('enter the radius'))
pi=3.14
volum= 4/3*pi* r**3
print('volume is: ',volum)

enter the radius6
volume is:  904.3199999999999

Q25

In [26]:
x=int(input('enter num'))

print(17-x)
if x > 17:
        z=(x-17)*2
        print (z)

enter num20
-3
6

Q26

In [30]:
x=int(input('enter numbe'))

if x<100:
    print('num is less than 100')
    print(x/5 *25)
if 100<x<1000:
        print('num is less than 1000')

        print(x/5 *25)

if 1000<x<2000:
        print('num is less than 2000')

        print(x/5 *25)

enter numbe1500
num is less than 2000
7500.0

Q27

In [8]:
int1=int(input('entwr fist num'))
int2=int(input('enter sec num'))
int3=int(input('ente thrd num'))
sum1=int1+int2+int3
print(sum1)
if int1==int2==int3:
    print('sum=',sum1*3)

entwr fist num3
enter sec num4
ente thrd num3
10

Q28

In [10]:
a=int(input('enter num'))
b= int(input('enter num'))
print('a=',a,'b=',b)
x=b
b=a
a=x
print('a=',a,'b=',b)

enter num2
enter num3
a= 2 b= 3
a= 3 b= 2

**Q29

Q30

In [14]:
x=float(input('enter the base of the triangle'))
y=float(input('enter the hight of the triangle'))

z=float(0.5*x*y)

print('the area =', z)

enter the base of the triangle3
enter the hight of the triangle5
the area = 7.5

Q31

In [22]:
a=int(input())
b=int(input())
c=int(input())
s=0
q=a+b+c
if a==b or a==c or b==c:
    print(s)

else:
 print(q)

2
3
2
0

Q32

In [13]:
a=int(input('enter num'))
b=int(input('enter num'))
z=int(a+b)

if 15<z<20:
    print( '20')
if 30<z<40:
    print('50')
if 155<z<167:
    print('210')

enter num12
enter num4
20

Q33

In [12]:
x=int(input('enter num'))
y=int(input('enter num'))
if x == y or (x-y) == 5 or (x+y) == 5:
        print ('True')
else:
        print( 'False')

15
5
False

Q34

In [18]:
x=int(input('enter num'))
y=int(input('enter num'))
z=(x + y)*(x + y)

print('((',x,'+',y,')^2)=',z)

enter num3
enter num4
(( 3 + 4 )^2)= 49

Q35

Q36

In [46]:
x1=3
x2=6
y1=3
y2=10

d=int(((x2 - x1)**2+(y2 - y1)**2)**0.5)
print('distance=',d)

distance= 7

**Q37

In [31]:
from datetime import datetime
start_time = datetime.now()
x=5
y=10
z=x*y*1000
print(z)

if z>100:
 print('z is more than 100')

end_time = datetime.now()
print('duration=',end_time - start_time)

50000
z is more than 100
duration= 0:00:00.001000

Q38

In [35]:
inch=int(input("enter the height in inch"))
cm=inch/0.394
print("The length in cm",cm)

enter the height in inch200
The length in cm 507.61421319796955

Q40

In [40]:
feet = int(input("Input distance in feet: "))
inch = feet * 12
yard = feet / 3.0
mile = feet / 5280.0
 
print("The distance in inches is  inch."  ,inch)
print("The distance in yards is  yard." , yard)
print("The distance in miles is  mile.", mile)

Input distance in feet: 200
The distance in inches is  inches. 2400
The distance in yards is  yards. 66.66666666666667
The distance in miles is  miles. 0.03787878787878788

Q41

Q42

Q43

In [64]:
high=float(input('enter high in cm'))
high1=high/1000
wieght=float(input('enter whieght in kilo'))
mass=float(wieght/high1 **2)
print('your mass =',mass)

enter high in cm160
enter whieght in kilo60
your mass = 2343.75

Q44

In [68]:
x=[2,4,5,6]
print(sorted(x))

[2, 4, 5, 6]

Q45

In [53]:
help(sum)

Help on built-in function sum in module builtins:

sum(iterable, start=0, /)
    Return the sum of a 'start' value (default: 0) plus an iterable of numbers

    When the iterable is empty, return the start value.
    This function is intended specifically for use with numeric values and may
    reject non-numeric types.

Q46

In [65]:
x=input('enter a chr')
print(ord(x))

enter a chrF
70

Q47

Q48

In [2]:
import sys

x =input('enter a string') 
sys.getsizeof(x)
print('the size in bytes')
sys.getsizeof(sys.getsizeof)

enter a stringgkjhfjbfhjkjfbjk
the size in bytes

40

Q49

In [52]:
x=input()
y=input()
z=input()
s=input()
print(x+y+z+s)

hi
fatima
sharaiy
?
hifatimasharaiy?

**Q50

In [73]:
x=print('hello')
del(x)

hello

Q52

In [75]:
x= int(input("Enter a num "))
if x > 0:
   print("Positive number")
elif x == 0:
   print("Zero")
else:
   print("Negative number")

Enter a num -6
Negative number

Q53

In [4]:
x=int(input('enter a num'))
print(type(x))
if type (x)!='int':
 print('Erorr')

enter a num5
<class 'int'>
Erorr

Q54

In [5]:
x=input('enter a strint')
y=input('enter a strint')
print (id(x))
print(id(y))

enter a strinthjbfhb
enter a strintdfknjjkdf
65854176
65899240

Q55

In [7]:
x= input('enter strint')
 
y= input('enter string')
  
if x == y:
 
    print ("Same Strings")
 
else:
 
    print ("Different Strings")

enter strintfatima
enter stringfatima
Same Strings

Q56

In [11]:
n=20
print(type(n)())

0

Q57

In [20]:
x='HGHJKIOh'
for i in x:
    if i.islower():
         print (i)

h

Q58

In [21]:
x=input('enter string')
print('0',x)

enter stringhii
0 hii