Q1

Q2

In [34]:
x=input(' enter a text')
print(x.count('Emma'))

 enter a textheloooo Emma
1

Q3

In [32]:
for x in range(6):
    for i in range(x):
        print (x, end=" ") 
    print("\n")

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

Q4

In [17]:
x=input('enter a text more than 7 chr ')
y = int(len(x) /2)
print("original string is", x)
z= x[y-1:y+2]
print("middle three chars ", z)

Enter a text more than 7 chr fatimaa
original string is fatimaa
middle three chars  tim

Q5

In [23]:
s1=input("enter string1")
s2=input ('enter string 2')
x = int(len(s1) /2)
print("original strings is", s1, s2)
z = s1[:x-1:]+ s2 +s1[x-1:]
print("new string is", z)

enter string1fatima
enter string 2sharairy
original strings is fatima sharairy
new string is fasharairytima

**Q6

In [24]:
s1=input("enter string1")
s2=input ('enter string 2')

x = s1[:1] + s2[:1] + s1[int(len(s1) /2):int(len(s1) /2)+1] +s2[int(len(s2) /2):int(len(s2) /2)+1] +s1[len(s1)-1] + s2[len(s2)-1]
print("new string is", x)

enter string1fatima
enter string 2sharairy
new string is fsiaay

Q7

In [28]:
x = input('enter string')
z = x.split()
l = []
b = []
for i in x:
    if i.islower():
        l.append(i)
    else:
        b.append(i)
y = ''.join(l + b)
print("new string is")
print(y)

enter stringFatiMaA
new string is
atiaFMA

Q8

In [30]:
x = input("enter a string")  
z = x.split()  
z.sort()  
for i in z:  
   print(z)

enter a stringme and thank hello
['and', 'hello', 'me', 'thank']
['and', 'hello', 'me', 'thank']
['and', 'hello', 'me', 'thank']
['and', 'hello', 'me', 'thank']

Q9

Q10

In [34]:
x = input("enter a num")
x = int (x)
z = 0
sum = 0
for i in range(0,x+1,1):
    sum = sum+i
print("the num is", x, "sum is: ", sum )

enter a num4
the num is 4 sum is:  10

Q11

In [44]:
x=int(input("enter a num"))
factorial=1
if(x==0):
    print("factorial of 0 is 1");
else:
  while(x>0):
        factorial=factorial*x
        
        x=x-1
        
  print("factorial is")
  print(factorial)

enter a num5
factorial is
120

Q13

In [16]:
for x in range(0, 4):
    for z in range(4, x, -1):
        print("* ", end="")
    print()

* * * *
* * *
* *
*

Q14

In [12]:
rows =5
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=' ')
    print("\r")  
for i in range (rows, 0, -1):
    for j in range(0, i -1):
        print("*", end=' ')
    print("\r")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

Q15

In [6]:
rows =5
x=7
for i in range (0, rows):
    for j in range(0, i + 1):
        print("*", end=" ")
     
    print(x)
    x-=1

* 7
* * 6
* * * 5
* * * * 4
* * * * * 3

Q16

In [53]:
x = 5
for i in range(0,x):
    for j in range(0,x-i-1):
        print(end=" ")
    for j in range (0,i):
        print("* ", end="")
  
  
    print()

   *
  * *
 * * *
* * * *

Q17

In [50]:
x = 4
for i in range(x,0,-1):
    for j in range(0,x-i):
        print(end=" ")
    for j in range (0,i):
        print("* ", end="")
  
  
    print()

* * * *
 * * *
  * *
   *

Q18

In [54]:
x = 5
for i in range(0,x):
    for j in range(0,x-i-1):
        print(end=" ")
    for j in range (0,i):
        print("* ", end="")
  
  
    print()
x = 4
for i in range(x,0,-1):
    for j in range(0,x-i):
        print(end=" ")
    for j in range (0,i):
        print("* ", end="")
  
  
    print()

   *
  * *
 * * *
* * * *
* * * *
 * * *
  * *
   *

Q19

Q20

In [9]:
x = 10
n1 = 0
n2 = 1
count = 0

while count < x:
        print(n1,end=' , ')
        nth = n1 + n2
        n1 = n2
        n2 = nth
        count += 1

0 , 1 , 1 , 2 , 3 , 5 , 8 , 13 , 21 , 34 ,

**Q21

In [ ]:
num1 = float(input(" Enter Num1 : "))
num2 = float(input(" Enter Num2 : "))

a = num1
b = num2

if(num1 == 0):
    print("\n HCF of {0} and {1} = {2}".format(a, b, b))

while(num2 != 0):
    if(num1 > num2):
        num1 = num1 - num2
    else:
        num2 = num2 - num1

gcd = num1   
print("\n GCD of {0} and {1} = {2}".format(a, b, gcd))

**Q22

In [ ]:
def gcd(x, y):
    while(y):
        x, y = y, x % y

    return x
def lcm(x, y):  
    lcm = (x*y)//gcd(x,y)
    return lcm
num1 = int(input('enter num1'))
num2 = int(input('enter num2'))


print("The L.C.M. of", num1,"and", num2,"is", lcm(num1, num2))

Q23

In [63]:
x = 1 
y = 100
even= 0
odd= 0
for i in range(x, y + 1):
    if(i % 2 == 0):
        even= even+ i
    else:
        odd= odd+ i
print("sum of Odd Numbers from 1 to 100 = ", odd)

sum of Odd Numbers from 1 to 100 =  2500

Q24

In [65]:
x = 1
z = 100
  
for i in range(x, z + 1): 
       if i > 1: 
        for j in range(2, i): 
           if (i % j) == 0: 
               break
        else: 
           print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

Q25

Q26

In [68]:
num = 9
for i in range(1, 10):
   print(num*i)

9
18
27
36
45
54
63
72
81

Q28

In [6]:
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

Enter number:5
The number is a palindrome!

Q29

In [5]:
num = input("Enter a number: ")
sum = 0.
for i in num:
    sum += int(i)
    
print('sum=',sum)

Enter a number: 432
sum= 9.0

Q30

Q31

Q32

Q33

Q34

In [30]:
x=input('enter  string :')
z=input('char to remove:')
for i in range ( len(x)):
    if x[i]==z:
        x[i].replace(x[i],',')
    else:
        pass

enter  string :fatimaa
char to remove:a

Q35

In [6]:
x = input("enter a string")
z = str[::2]
print(z)

enter a stringhelloo
hloo

Q36

In [5]:
str = input("Enter a string\n")
modified_string = str[::2]
print(modified_string)

Enter a string
hellooo
hloo

Q37

Q39

In [11]:
filename = input("Input the Filename: ")
extention = filename.split(".")
print(extention)

Input the Filename: abc.java
['abc', 'java']

Q40

In [14]:
x=input('enter string')
if len(x) >= 2 and x[:2] == "Is":
    print(x)
else:
    print ("Is " + x)

enter stringhelloo
Is helloo

Q41

In [22]:
x=input('enter string')
z=int(input('enter num'))
y=""
for i in range(z):
      y = y + x
print(y)

enter stringhello
enter num3
hellohellohello

*Q42

In [29]:
x=input('enter string')
z=int(input('enter num'))
y = 2
if y > len(x):
    y = len(x)
a = x[:y]
b = ""
for i in range(z):
    b = b + a
print(b)

enter stringhellooo
enter num4
hehehehe

Q43

Q44

In [4]:
name=input('enter name')
age = int(input ('enter age'))
address=input('enter address')

print(name,'\n',age,'\n',address)

enter namefatima
enter age44
enter addressjordan
fatima
 44
 jordan

Q45

In [7]:
x = int(input('enter num '))
y = int(input("enter num  "))
z = int(input('enter num '))

a = min(x, y, z)
b = max(x, y, z)
c = (x + y + z) - a - b
print("num in order", a, c, b)

enter num 4
enter num  6
enter num 8
num in order 4 6 8

Q48

In [ ]:
obj1 = input('enter an object')
obj1_address = id(obj1)
print()
print(obj1_address)
print()

Q49

In [7]:
import time
print()
print(time.ctime())
print()

Mon Oct 21 23:24:17 2019

Q50

In [8]:
c =input('enter a num')


print("The ASCII value of '" + c + "' is",ord(c))

enter a num7
The ASCII value of '7' is 55

Q51

In [10]:
obj1 = input('enter an object')
obj1_address = id(obj1)
print()
print(obj1_address)
print()

enter an objectx

19573536

Q52

In [19]:
x=int(input('enter num'))
x -= 1
sum1 = 0
while x > 0:
 sum1 += x * x * x
 x -= 1
print( sum1)

enter num8
784

Q53

Q54

Q55

In [ ]:
a = input("Input the first num: ")
y = input("Input the second num: ")
z = input("Input the third num: ")
print("Median of the above 3 nums is: ")
 
if y < a and a < z:
    print(a)
elif z < a and a < y:
    print(a)
 
elif z < y and y < a:
    print(y)
elif a < y and y < z:
    print(y)
 
elif y < z and z < a:
    print(z)    
elif a < z and z < y:
    print(z)

Q56

In [2]:
n=int(input("Enter an integer:"))
print("The divisors of the number are:")
for i in range(1,n+1):
    if(n%i==0):
        print(i)

Enter an integer:4
The divisors of the number are:
1
2
4

Q57

In [25]:
x=int(input('enter num'))
for i in range(x):
    z = len([i for i in range(1,x+1) if not x % i])
print(z)

enter num24
8

**Q58

In [29]:
x=int(input('enter num'))
if x==1 or x==2 or x==3 or x==4:
        print( '1')
print( (x-1) + (x-2) + (x-3) + (x-4))

enter num15
50

Q59