Q1

In [15]:
list1=input('enter a numbers')
l1=list(list1)
l1=list1.split()
l1.sort()
print(l1)
print(l1[-2])

enter a numbers22 44 55 66
['22', '44', '55', '66']
55

Q2

In [2]:
list1=input('enter a list')
l1=list(list1)
l1=list1.split()
l1.sort()
print(l1)
print('the second largest num is',l1[-2])
x=l1[-2]
print('the indix of it ',l1.index(x))

enter a list2 44 55 50
['2', '44', '50', '55']
the second largest num is 50
the indix of it  2

Q3

In [9]:
x=input('enter a containers')
print(x if x else 'empty')

enter a containersf
f

Q4

Q5

In [13]:
l=input('Enter a list')
l1=list(l)
l1=l.split()
x=len(l1)//3
l2=l1[:x]
print('l1=',l2)
l3=l1[x:2*x]
print('l2=',l3)
l4=l1[2*x:3*x]
print ('l3=',l4)
l5=l1[3*x:]
print('the rest ot element' ,l5)

Enter a list33 55 77 6 5 4 7
l1= ['33', '55']
l2= ['77', '6']
l3= ['5', '4']
the rest ot element ['7']

Q6

In [3]:
li=input('ente a list')
l1=list(li)
l1=li.split()
l1.sort()
print('sorted enterd list is ',l1)
l1.sort(reverse=True)
print('the revesed list is ', l1)

ente a list22 33 55 66
sorted enterd list is  ['22', '33', '55', '66']
the revesed list is  ['66', '55', '33', '22']

Q7

In [5]:
li=input('ente a list')
l1=list(li)
l1=li.split()
l1.sort(reverse=True)
print(l1)

ente a list33 44 55 66 3 2 4
['66', '55', '44', '4', '33', '3', '2']

##Q8 Write a Python program to flatten a 2-D list.

Q9

In [1]:
li=input('ente a list')
l1=list(li)
l1=li.split()
x=l1[4]
l1.remove(x)
print(l1)
l1.insert()
print(l2)

ente a list2 3 4 1 5 6 7
['2', '3', '4', '1', '6', '7']
None

Q10

In [7]:
l1=[11,3,5,6,22,100]
l2=[100,5,4,45,1,80]
s1=set(l1)
s2=set(l2)
print('set 1= ',s1)
print('set 2= ',s2)
print('set intersection=',s1.intersection(s2))

set 1=  {3, 100, 5, 6, 11, 22}
set 2=  {1, 4, 100, 5, 45, 80}
set intersection= {100, 5}

Q11

In [13]:
l1=[7,3,5,6]
l2=[10,5,4,8]
x=tuple(l1)
print('tuple1=',x)
z=tuple(l2)
print('tuple2=',z)
a,b,c,d=x
A,B,C,D=z
def fun():
    return a,A
print(fun())

def fun():
    return b,B
print(fun())

def fun():
    return c,C
print(fun())

def fun():
    return d,D
print(fun())

tuple1= (7, 3, 5, 6)
tuple2= (10, 5, 4, 8)
(7, 10)
(3, 5)
(5, 4)
(6, 8)

Q12

In [16]:
dic1={
    'name': 'Fatima',
    'gender': 'female',
    'major':'engineer',
    'phone num': 123123
}

print(dic1.items())

dict_items([('name', 'Fatima'), ('gender', 'female'), ('major', 'engineer'), ('phone num', 123123)])

**Q13

Q14

In [40]:
dict = {"id":112233, "phone":9876534, "fax":1221}
print(dict.values())
list1 = [ v for v in dict.values() ]
print(list1)

dict_values([112233, 9876534, 1221])
[112233, 9876534, 1221]

Q15

In [29]:
x=input('enter a numbers ')

list1=list(x)
list1=x.split(',')

print('list=',list1)
tuple1=tuple(list1)
print('tuple=' ,tuple1)

enter a numbers 6,8,9889,9
list= ['6', '8', '9889', '9']
tuple= ('6', '8', '9889', '9')

Q16

In [31]:
x=input('enter number')
list1=list(x)
list1=x.split()
print(list1)

print('count(4)=',list1.count('4'))

enter number76 4 4 8 9
['76', '4', '4', '8', '9']
count(4)= 2

Q17

In [38]:
numbers = [386, 462, 47, 418, 907, 344, 236, 375, 823, 566, 597, 978, 328, 615, 953, 345, 399,
162, 758, 219, 918, 237, 412, 566, 826, 248, 866, 950, 626, 949, 687, 217, 815, 67, 104, 58, 512,
24, 892, 894, 767, 553, 81, 379, 843, 831, 445, 742, 717, 958, 743, 527]

  
for num in numbers:
    if num ==237:
        break
    if num% 2 == 0 :
     print(num)

386
462
418
344
236
566
978
328
162
758
918

***Q18

In [20]:
tn = int(input("Input third term of the series:"))
tltn = int(input("Input 3rd last term:"))
s_sum = int(input("Sum of the series:"))
n = int(2*s_sum/(tn+tltn))
print("Length of the series: ",n)


if n-5==0:
  d = (s_sum-3*tn)//6
else:
  d = (tltn-tn)/(n-5)

a = tn-2*d
j = 0
print("Series:")
for j in range(n-1):
  print(int(a),end=" ")
  a+=d
print(int(a),end=" ")

Input third term of the series:7
Input 3rd last term:456
Sum of the series:87
Length of the series:  0
Series:
186

***Q19

In [22]:
def last(n): 
    return n[m]   
   
def sort(tuples): 
  
    return sorted(tuples, key = last) 
   
a = [(23, 45, 20), (25, 44, 39), (89, 40, 23)] 
m = 2
print("Sorted:"), 
print(sort(a))

Sorted:
[(23, 45, 20), (89, 40, 23), (25, 44, 39)]

Q20

In [23]:
li = ['p', 'q']
n = 5
li1 = ['{}{}'.format(x, y) for y in range(1, n+1) for x in li]
print(li1)

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

Q21

Q22

Q23

Q24

In [4]:
X = [[1,2],
     [3 ,4],
     [5 ,6]]

z = [[0,0,0],
     [0,0,0]]

for i in range(len(X)):
   for j in range(len(X[0])):
       z[j][i] = X[i][j]

for y in z:
   print(y)

[1, 3, 5]
[2, 4, 6]

Q25

In [5]:
X = [[1,3,6],
    [2 ,1,2]]
Y = [[5,2,1],
    [7,5,9]]
z=[[0,0,0],
  [0,0,0]]

for i in range(len(X)):
   for j in range(len(Y[0])):
       for k in range(len(Y)):
           z[i][j] += X[i][k] * Y[k][j]

for c in z:
   print(c)

[26, 17, 28]
[17, 9, 11]

Q26

Q27

Q28

Q29

Q30

In [7]:
x = [{"V":"S001"}, {"V": "S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
print(x)
value = set( val for dic in x for val in dic.values())
print("Unique Values: ",value)

[{'V': 'S001'}, {'V': 'S002'}, {'VI': 'S001'}, {'VI': 'S005'}, {'VII': 'S005'}, {'V': 'S009'}, {'VIII': 'S007'}]
Unique Values:  {'S002', 'S005', 'S009', 'S001', 'S007'}

Q31

Q32

Q35

In [9]:
list_1 = set(['White', 'Black', 'Red'])
list_2 =set (['Red', 'Green'])

print(list_1.difference(list_2))

{'White', 'Black'}

Q37

Q38

Q39

Q40

Q41

Q42

Q46

In [2]:
dic = {'num1':10,'num2':4,'num3':13}

num1 = dic.pop('num1')
num2 = dic.pop('num2')
num3 = dic.pop('num3')
dic['sum'] = (num1+num2+num3)
    
print(dic)

{'sum': 27}